<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">

        <title>{{title}}</title>
        <!--
        Comila Template
        http://www.templatemo.com/tm-490-comila
        -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <!-- stylesheets css -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/animate.min.css">

        <link rel="stylesheet" href="css/et-line-font.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">

        <link rel="stylesheet" href="css/vegas.min.css">
        <link rel="stylesheet" href="css/style.css">

        <!-- javscript js -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <link href='https://fonts.googleapis.com/css?family=Rajdhani:400,500,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <style>
            .editar{
                margin: 10px;
                display: inline-block;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
                color: #333;
                background-color: #fff;
                border-color: #ccc;
                background: transparent;
                border: 3px solid #ffffff;
                border-radius: 0px;
                color: #ffffff;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 1px;
                margin-top: 5px;
                margin-right: 10px;
                -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;

            }
            th{
                text-align: center;
            }
        </style>
        <script>
$().ready(function () {
    cargarClientes();
    cargarProductos();
    cargarTabla();
    cargarValor();
    //$("#entrada").val('0');
    obtenerSaldo();
});

function cargarProductos() {
    var url = 'http://localhost:3000/ver_productos';
    $.ajax({
        url: url,
        type: 'get',
        dataType: 'json',
        success: function (data, textStatus, jqXHR) {
            console.log(data);
            var html = "<option style='color: #002752' value=''>Selecciona el articulo</option>";
            $.each(data, function (i, item) {
                html += '<option style="color: #002752" class="form-control" id="' + item.precio + '" value="' + item.id + '">' + item.categorium.nombre + ' ' + item.nombre + ' ' + item.subnombre + '</option>';
            });
            $("#producto").html(html);

        }, error: function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR.responseText);
        }

    });
}
function cargarClientes() {
    var url = 'http://localhost:3000/listar_clientes';
    $.ajax({
        url: url,
        type: 'get',
        dataType: 'json',
        success: function (data, textStatus, jqXHR) {
            console.log(data);
            var html = "<option style='color: #002752' value=''>Selecciona el cliente</option>";
            $.each(data, function (i, item) {
                html += '<option style="color: #002752" class="form-control" value="' + item.id + '">' + item.nombre + '</option>';
            });
            $("#cliente").html(html);

        }, error: function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR.responseText);
        }

    });
}
function cargarValor() {
    var url = 'http://localhost:3000/ver_productos';
    $.ajax({
        url: url,
        type: 'get',
        dataType: 'json',
        success: function (data, textStatus, jqXHR) {
            console.log(data);
            $.each(data, function (i, item) {
                $("#producto").change(function () {
                    var id = $(this).children(":selected").attr("id");
                    $("#valor").val(id);

                });

            });
        }, error: function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR.responseText);
        }

    });
}
function obtenerSaldo() {
    $('#valor').keyup(function () {
        var valor = $('#valor').val();
        var entrada = $('#entrada').val();
        var saldo = (valor * 1) - (entrada * 1);
        $('#saldo').val(saldo.toFixed(2));
    });

    $('#entrada').change(function () {
        var valor = $('#valor').val();
        var entrada = $('#entrada').val();
        var saldo = (valor * 1) - (entrada * 1);
        $('#saldo').val(saldo.toFixed(2));
    });
    $('#entrada').keyup(function () {
        var valor = $('#valor').val();
        var entrada = $('#entrada').val();
        var saldo = (valor * 1) - (entrada * 1);
        $('#saldo').val(saldo.toFixed(2));
    });

}

function cargarTabla() {
    var url = "http://localhost:3000/listar_clientes";       ///test/sw/listaProdLot     
    $.ajax({
        url: url,
        type: 'GET',
        dataType: 'JSON',

        success: function (data, textStatus, jqXHR) {
            console.log(data);
            var html = "";

            $.each(data, function (i, item) {
                html += '<tr>';
                html += '<td>' + (i + 1) + '</td>';
                html += '<td>' + item.nombre + '</td>';
                html += '<td>' + item.telefono + '</td>';
                html += '<td>' + item.referencias + '</td>';
                html += '<td>' + item.direccion + '</td>';
                html += '<td><a type="button" class="editar" onclick="transaccionesPersona(' + "'" + item.external_id + "'" + ')">Editar</a>\n\
                                         <a type="button" class="editar" onclick="DetallesVentaCliente(' + "'" + item.external_id + "'" + ')">Detalles venta</a></td>';
                html += '</tr>';
            });

            html += '</tr>';

            $("#tabla tbody").html(html);
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR.responseText);
        }
    });
}
        </script>

        <!-- preloader section -->
        <section class="preloader">
            <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
        </section>

        <section id="home">
            <div class="container">
                <div class="row">

                    <div class="col-md-offset-2 col-md-8 col-sm-12">
                        <div class="home-thumb">
                            <h1 class="wow fadeInUp" data-wow-delay="0.4s">Hello, we are comila</h1>
                            <h3 class="wow fadeInUp" data-wow-delay="0.6s">We are almost <strong>ready to launch</strong> our <strong>new creative</strong> website!</h3>
                            <a href="#about" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="0.8s">Let's begin</a>
                            <a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-lg btn-success smoothScroll wow fadeInUp" data-wow-delay="1.0s">Notify me!</a>
                        </div>
                    </div>

                </div>
            </div>		
        </section>

        <!-- registro clientes -->
        <section id="contact">
            <div class="container">
                <div class="row">

                    <div class="col-md-offset-2 col-md-8 col-sm-12">
                        <div class="section-title">
                            <h1 class="wow fadeInUp" >Agregar cliente</h1>
                            <p class="wow fadeInUp">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
                        </div>
                        <div class="contact-form wow fadeInUp">
                            <form id="contact-form" method="post" action="/guardar_cliente">
                                <input type="hidden" name="external" value="0" id="external"/>

                                <div class="col-md-6 col-sm-6">
                                    <input name="nombre" type="text" class="form-control" placeholder="Nombre y apellido" required>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <input name="direccion" type="text" class="form-control" placeholder="Direccion" required>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <input name="referencias" type="text" class="form-control" placeholder="Referecias" required>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <input name="telefono" type="tel" class="form-control" placeholder="Telefono" required>
                                </div>

                                <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                                    <input name="submit" type="submit" class="form-control submit" id="submit" value="Registralo ahora">
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>



        <!-- feature section -->
        <section id="feature">
            <div class="container">
                <div class="row">

                    <svg preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
                    <path d="M0 0 L50 100 L100 0 Z"></path>
                    </svg>
                    <div class="section-title text-center">
                        <h1 class="wow fadeInUp" >Lista de clientes</h1>                    
                    </div>

                    <table class="table table-bordered" id="tabla" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>Nro</th>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Referencias</th>
                                <th>Direccion</th>
                                <th>Accion</th>

                            </tr>
                        </thead>
                        <tbody>


                        </tbody>
                    </table>


                    <div class="clearfix text-center col-md-12 col-sm-12">
                        <a href="#contact" class="btn btn-default smoothScroll">Reporte</a>
                        <a href="#" class="btn btn-default smoothScroll" data-toggle="modal" data-target="#modal">Realizar Venta</a>
                    </div>

                </div>
            </div>
        </section>
        <!-- contact section -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <svg preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
                    <path d="M0 0 L50 100 L100 0 Z"></path>
                    </svg>                   
                </div>
            </div>
        </section>

        <!-- footer section -->
        <footer>
            <div class="container">
                <div class="row">

                    <svg class="svgcolor-light" preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0 L50 100 L100 0 Z"></path>
                    </svg>

                    <div class="col-md-4 col-sm-6">

                        <div class="wow fadeInUp" data-wow-delay="0.3s">
                            <p class="copyright-text">Copyright &copy; 2016 Your Company <br> </div>
                    </div>

                    <div class="col-md-1 col-sm-1"></div>

                    <div class="col-md-4 col-sm-5">
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook wow bounceIn" data-wow-delay="0.9s"></a></li>
                            <li><a href="#" class="fa fa-twitter wow bounceIn" data-wow-delay="1.2s"></a></li>
                            <li><a href="#" class="fa fa-behance wow bounceIn" data-wow-delay="1.4s"></a></li>
                            <li><a href="#" class="fa fa-dribbble wow bounceIn" data-wow-delay="1.6s"></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>

        <!-- modal -->
        <div class="modal fade" id="modal"  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" style="color: #000">Nueva Compra</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="compra" name="sentMessage" action="/guardar_compra" method="POST">
                        <input type="hidden" name="external1" value="0" id="external1"/>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">  
                                    <div class="form-group">

                                        <input style="color: #002752" name="fecha" type="date" class="form-control" id="fecha" placeholder="Fecha">
                                        <select style="color: #002752" class="form-control" name="cliente" id="cliente" >
                                        </select>
                                        <select style="color: #002752" class="form-control" name="producto" id="producto" >
                                        </select>
                                        <input style="color: #002752" name="valor" type="text" class="form-control" id="valor" placeholder="Valor">
                                        <input style="color: #002752" name="entrada" type="text" class="form-control" id="entrada" placeholder="Entrada">
                                        <input style="color: #002752" name="saldo" type="text" class="form-control" id="saldo" placeholder="Saldo" readonly>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-warning">Registrar</button>
                        </div>
                    </form>
                    <p>Gracias por la compra</p>
                </div>
            </div>
        </div>

        <!-- Back top -->
        <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

        <script src="js/vegas.min.js"></script>

        <script src="js/wow.min.js"></script>
        <script src="js/smoothscroll.js"></script>
        <script src="js/custom.js"></script>

    </body>
</html>

