<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="./css/main.css">

        <script src="./js/jquery-3.1.1.min.js"></script>
        <script src="./js/sweetalert2.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
        <script src="./js/material.min.js"></script>
        <script src="./js/ripples.min.js"></script>
        <script src="./js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="./js/main.js"></script>
    </head>
    <body>
        <!-- SideBar -->
        <section class="full-box cover dashboard-sideBar">
            <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
            <div class="full-box dashboard-sideBar-ct">
                <!--SideBar Title -->
                <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
                    company <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
                </div>
                <!-- SideBar User info -->
                <div class="full-box dashboard-sideBar-UserInfo">
                    <figure class="full-box">
                        <img src="./assets/img/avatar.jpg" alt="UserIcon">
                        <figcaption class="text-center text-titles">{{comerciante}}</figcaption>
                    </figure>
                    <ul class="full-box list-unstyled text-center">
                        <li>
                            <a href="#!" title="Proximamente">
                                <i class="zmdi zmdi-settings"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="btn-exit-system">
                                <i class="zmdi zmdi-power"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- SideBar Menu -->
                <ul class="list-unstyled full-box dashboard-sideBar-Menu">
                    <li>
                        <a href="/home">
                            <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Inicio
                        </a>
                    </li>
                    <li>
                        <a href="/ventas" class="btn-sideBar-SubMenu">
                            <i class="zmdi zmdi-case zmdi-hc-fw"></i> Ventas
                        </a>					
                    </li>
                    <li>
                        <a href="/pagos" class="btn-sideBar-SubMenu">
                            <i class="zmdi zmdi-money zmdi-hc-fw"></i> Pagos 
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="btn-sideBar-SubMenu">
                            <i class=" zmdi zmdi-font zmdi-hc-fw "></i> Arcticulos <i class="zmdi zmdi-caret-down pull-right"></i>
                        </a>
                        <ul class="list-unstyled full-box">
                            <li>
                                <a href="/productos"><i class="zmdi zmdi-book zmdi-hc-fw "></i> Productos</a>
                            </li>
                            <li>
                                <a href="/categorias"><i class="zmdi zmdi-card zmdi-hc-fw"></i> Categorias</a>
                            </li>
                        </ul>
                    </li> 
                    <li>
                        <a href="/clientes" class="btn-sideBar-SubMenu">
                            <i class="zmdi zmdi-account zmdi-hc-fw"></i> Clientes 
                        </a>
                    </li>                    
                    <li>
                        <a href="/rutas" class="btn-sideBar-SubMenu">
                            <i class="zmdi zmdi-trending-up zmdi-hc-fw"></i> Rutas
                        </a>                        
                    </li>
                </ul>
            </div>
        </section>

        <!-- Content page-->
        <section class="full-box dashboard-contentPage">
            <!-- NavBar -->
            <nav class="full-box dashboard-Navbar">
                <ul class="full-box list-unstyled text-right">
                    <li class="pull-left">
                        <a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
                    </li>
                    <li>
                        <a href="#!" class="btn-Notifications-area">
                            <i class="zmdi zmdi-notifications-none"></i>
                            <span class="badge">1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="btn-search">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                   
                </ul>
            </nav>
            <!-- Content page -->
            <div class="container-fluid">
                <div class="page-header">
                    <h1 class="text-titles"> Sistema <small> TimeLine</small></h1>
                </div>
            </div>
            <div class="full-box text-center">
                <article class="full-box tile">
                    <div class="full-box tile-title text-center text-titles text-uppercase">
                        Clientes
                    </div>
                    <div class="full-box tile-icon text-center">
                        <i class="zmdi zmdi-account"></i>
                    </div>
                    <div class="full-box tile-number text-titles">                        
                        <p class="full-box">{{clientesCount}}</p>                        
                        <small>Registro</small>
                    </div>
                </article>
                <article class="full-box tile">
                    <div class="full-box tile-title text-center text-titles text-uppercase">
                        Ventas
                    </div>
                    <div class="full-box tile-icon text-center">
                        <i class="zmdi zmdi-case"></i>
                    </div>
                    <div class="full-box tile-number text-titles">
                        <p class="full-box">{{ventasCount}}</p>
                        <small>Registro</small>
                    </div>
                </article>
                <article class="full-box tile">
                    <div class="full-box tile-title text-center text-titles text-uppercase">
                        Productos
                    </div>
                    <div class="full-box tile-icon text-center">
                        <i class="zmdi zmdi-book "></i>
                    </div>
                    <div class="full-box tile-number text-titles">
                        <p class="full-box">{{productosCount}}</p>
                        <small>Registro</small>
                    </div>
                </article>                
            </div>



            <div class="container-fluid">
                <div class="page-header">
                    <h1 class="text-titles"> Productos <small> TimeLine</small></h1>
                </div>
            </div>
            <div class="full-box text-center">
                <div class="container-fluid">
                    <div class="row">

                        <div class="card-group">

                        </div>



                        <div class="container-fluid">
                            <div class="page-header">
                                <h1 class="text-titles">System <small>TimeLine</small></h1>
                            </div>
                            <section id="cd-timeline" class="cd-container">
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img">
                                        <img src="./assets/img/avatar.jpg" alt="user-picture">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <h4 class="text-center text-titles">1 - Name (Admin)</h4>
                                        <p class="text-center">
                                            <i class="zmdi zmdi-timer zmdi-hc-fw"></i> Start: <em>7:00 AM</em> &nbsp;&nbsp;&nbsp; 
                                            <i class="zmdi zmdi-time zmdi-hc-fw"></i> End: <em>7:17 AM</em>
                                        </p>
                                        <span class="cd-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> 07/07/2016</span>
                                    </div>
                                </div>  
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img">
                                        <img src="./assets/img/avatar.jpg" alt="user-picture">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <h4 class="text-center text-titles">2 - Name (Teacher)</h4>
                                        <p class="text-center">
                                            <i class="zmdi zmdi-timer zmdi-hc-fw"></i> Start: <em>7:00 AM</em> &nbsp;&nbsp;&nbsp; 
                                            <i class="zmdi zmdi-time zmdi-hc-fw"></i> End: <em>7:17 AM</em>
                                        </p>
                                        <span class="cd-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> 07/07/2016</span>
                                    </div>
                                </div>
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img">
                                        <img src="./assets/img/avatar.jpg" alt="user-picture">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <h4 class="text-center text-titles">3 - Name (Student)</h4>
                                        <p class="text-center">
                                            <i class="zmdi zmdi-timer zmdi-hc-fw"></i> Start: <em>7:00 AM</em> &nbsp;&nbsp;&nbsp; 
                                            <i class="zmdi zmdi-time zmdi-hc-fw"></i> End: <em>7:17 AM</em>
                                        </p>
                                        <span class="cd-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> 07/07/2016</span>
                                    </div>
                                </div>
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img">
                                        <img src="./assets/img/avatar.jpg" alt="user-picture">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <h4 class="text-center text-titles">4 - Name (Personal Ad.)</h4>
                                        <p class="text-center">
                                            <i class="zmdi zmdi-timer zmdi-hc-fw"></i> Start: <em>7:00 AM</em> &nbsp;&nbsp;&nbsp; 
                                            <i class="zmdi zmdi-time zmdi-hc-fw"></i> End: <em>7:17 AM</em>
                                        </p>
                                        <span class="cd-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> 07/07/2016</span>
                                    </div>
                                </div>   
                            </section>


                        </div>
                        </section>

                        <!-- Notifications area -->
                        <section class="full-box Notifications-area">
                            <div class="full-box Notifications-bg btn-Notifications-area"></div>
                            <div class="full-box Notifications-body">
                                <div class="Notifications-body-title text-titles text-center">
                                    Notifications <i class="zmdi zmdi-close btn-Notifications-area"></i>
                                </div>
                                <div class="list-group">
                                    <div class="list-group-item">
                                        <div class="row-action-primary">
                                            <i class="zmdi zmdi-alert-triangle"></i>
                                        </div>
                                        <div class="row-content">
                                            <div class="least-content">17m</div>
                                            <h4 class="list-group-item-heading">Notificacion</h4>
                                            <p class="list-group-item-text">Proximamente</p>
                                        </div>
                                    </div>                                      
                                </div>

                            </div>
                        </section>

                        <!-- Dialog help -->
                        <div class="modal fade" tabindex="-1" role="dialog" id="Dialog-Help">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Help</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Si necesita ayuda comuniquese en este correo
                                            katty.jhaky@hotmail.es
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary btn-raised" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> Ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--====== Scripts -->

                        <script>
$.material.init();
                        </script>

                        </body>
                        </html>