<!DOCTYPE html>
<html>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {display:none;}

    </style>

    <style type="text/css">
        .mySlides {
            width: 400px;
            height: 400px;
        }
        .w3-display-container{
            width: 400px;
            height: 400px;
        }
    </style>
    <script src="./css/geolocalizacion.js"></script>  
    <body>
        <div class="w3-container">
            <h2>W3.CSS Modal Image</h2>
            <p>Click on the image to display it in full size:</p>

            <img src="slider_jquery/img/4.jpg" style="width:30%;cursor:zoom-in"
                 onclick="document.getElementById('modal01').style.display='block'">

            <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
                <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                <div class="w3-modal-content w3-animate-zoom">
                    <img src="slider_jquery/img/4.jpg" style="width:100%">
                </div>
            </div>
        </div>

        <div class="w3-container">
            <button onclick="document.getElementById('id01').style.display = 'block'" class="w3-button w3-black">Open Modal</button>

            <div id="id01" class="w3-modal">
                <div class="w3-modal-content">
                    <header class="w3-container w3-teal"> 
                        <span onclick="document.getElementById('id01').style.display = 'none'" 
                              class="w3-button w3-display-topright">&times;</span>
                        <h2>Modal Header</h2>
                    </header>
                    <div class="w3-container">     
                        <div class="w3-content w3-display-container" >
                            <img class="mySlides" src="slider_jquery/img/1.jpg" >
                            <img class="mySlides" src="slider_jquery/img/2.jpg" >
                            <img class="mySlides" src="slider_jquery/img/3.jpg" >
                            <img class="mySlides" src="slider_jquery/img/4.jpg" >
                            
                            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                        </div>

                        <script>
                            var slideIndex = 1;
                            showDivs(slideIndex);

                            function plusDivs(n) {
                                showDivs(slideIndex += n);
                            }

                            function showDivs(n) {
                                var i;
                                var x = document.getElementsByClassName("mySlides");
                                if (n > x.length) {
                                    slideIndex = 1
                                }
                                if (n < 1) {
                                    slideIndex = x.length
                                }
                                for (i = 0; i < x.length; i++) {
                                    x[i].style.display = "none";
                                }
                                x[slideIndex - 1].style.display = "block";
                            }
                        </script>
                    </div>
                    <footer class="w3-container w3-teal">
                        <p>Modal Footer</p>
                    </footer>
                </div>
            </div>
        </div>
        

        <a onclick="document.getElementById('id01').style.display = 'block'" class="btn btn-primary btn-raised btn-xs"><i class="zmdi zmdi-wallpaper"></i></a>

    </body>
</html>

