<!DOCTYPE html>
<html lang="es">

<head>
    <title>Period</title>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <style type="txt/css">
        .form-group{padding-bottom:7px;margin: auto}
        
    </style>
    
    <!--====== Scripts -->
    <script src="./js/jquery-3.1.1.min.js"></script>
    <script src="./js/sweetalert2.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/material.min.js"></script>
    <script src="./js/ripples.min.js"></script>
    <script src="./js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="jquery_validation.js"></script>
    <!-- mapa -->
    <script src="./geolocalizacion.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr02HawTiirnGeMn12Ayk1Hh4QkyctkH0&callback=initMap"
        type="text/javascript"></script>

</head>

<body>
    <script>
        $(document).ready(function () {
            var puntos = [];
            var contador = 0;
            var cordinates = [];

            $("#buscarPorFecha").change(function () {
                var busqueda = $("#buscarPorFecha").val();
                buscarPorFecha(busqueda);
                console.log(busqueda);
            }); 
            
            $("body").on("click", ".btn_ruta", function () {
                directionsDisplay.setMap(map);
                console.log("****************");
                let distancias = calcularDistancias();
                //Se dibuja con todos esos puntos
                
               
                //waypts.push(coordenadasmias);
                cordinates.push(coordenadasmias);
                distancias.forEach(function(d){
                    cordinates.push(d.punto);
                });
                console.log(cordinates);
                //console.log(waypts);
                /*console.log( waypts[waypts.length - 1]); 
                 var flightPath = new google.maps.Polyline({
                    path: waypts,
                    geodesic: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });

                

                flightPath.setMap(map);*/
                
                //alert('aqui' + cordinates.length);
                if(contador < cordinates.length - 1){
                    let origin = cordinates[contador];
                    contador = contador + 1; 
                    let final = cordinates[contador];
                    console.log(final);
                    directionsService.route({
                        origin: origin,
                        destination: final,
                        travelMode: 'WALKING'
                    }, function (response, status) {
                        if (status === 'OK') {
                            directionsDisplay.setDirections(response);
                        } else {
                            window.alert('Directions request failed due to ' + status);
                        }
                    });
                }else{
                    alert('Ya no hay mas rutas que recorrer');
                }
            }); 

            function calcularDistancias() {
                let distancias = [];
                for (let i = 0; i<puntos.length; i++){
                    let punto = puntos[i];
                    let distancia = getDistanceFromLatLonInKm(coordenadasmias.lat, coordenadasmias.lng, punto.lat, punto.lng);
                    distancias.push({
                        punto: punto,
                        distancia: distancia
                    });
                }
                console.log(distancias);
                //Calcular todas las distancias, se ordena el arreglo de menor a mayor
                for (let j = 0; j<distancias.length; j++){
                    let d = distancias[j];
                    for (let x = j+1; x<distancias.length; x++){
                        let d2 = distancias[x];
                        if(d.distancia > d2.distancia){
                            let aux =  distancias[j];
                            distancias[j] = distancias[x];
                            distancias[x] = aux;
                        }
                    }
                }
                console.log(distancias);
                //Una vez ordenados de mayor a menor, retorna las distancias
                return distancias;
            }

            function getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
                var R = 6371; // Radius of the earth in km
                var dLat = deg2rad(lat2 - lat1);  // deg2rad below
                var dLon = deg2rad(lon2 - lon1);
                var a =
                    Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                    Math.sin(dLon / 2) * Math.sin(dLon / 2)
                    ;
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                var d = R * c; // Distance in km
                return d;
            }

            function deg2rad(deg) {
                return deg * (Math.PI / 180)
            }


            function buscarPorFecha(busqueda) {
                puntos = [];
                contador = 0;
                cordinates = [];
                directionsDisplay.setMap(null);
                $.ajax({
                    url: '/buscarPorFecha/' + busqueda,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data, textStatus, jqXHR) {
                        console.log(data);

                        for (var i = 0; i < data.length; i++) {
                            for (var j = 0; j < data[i].pago.ventum.cliente.persona.geolocalizacions.length; j++) {
                                var punto = data[i].pago.ventum.cliente.persona.geolocalizacions[j];
                                puntos.push({ "lat": punto.latitud, "lng": punto.longitud });
                                console.log(punto);
                                console.log(puntos);
                            }
                        }
                        pintar(puntos);
                    }, error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
            }
        });

    </script>
    <!-- SideBar -->
    <section class="full-box cover dashboard-sideBar">
        <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
        <div class="full-box dashboard-sideBar-ct">
            <!--SideBar Title -->
            <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
                company <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
            </div>
            <!-- SideBar User info -->
            <div class="full-box dashboard-sideBar-UserInfo">
                <figure class="full-box">
                    <img src="./assets/img/avatar.jpg" alt="UserIcon">
                    <figcaption class="text-center text-titles">User Name</figcaption>
                </figure>
                <ul class="full-box list-unstyled text-center">
                    <li>
                        <a href="#!">
                            <i class="zmdi zmdi-settings"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="btn-exit-system">
                            <i class="zmdi zmdi-power"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- SideBar Menu -->
            <ul class="list-unstyled full-box dashboard-sideBar-Menu">
                <li>
                    <a href="/home">
                        <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Inicio
                    </a>
                </li>
                <li>
                    <a href="/ventas" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-case zmdi-hc-fw"></i> Ventas
                    </a>
                </li>
                <li>
                    <a href="/pagos" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-money zmdi-hc-fw"></i> Pagos
                    </a>
                </li>
                <li>
                    <a href="#!" class="btn-sideBar-SubMenu">
                        <i class=" zmdi zmdi-font zmdi-hc-fw "></i> Arcticulos <i
                            class="zmdi zmdi-caret-down pull-right"></i>
                    </a>
                    <ul class="list-unstyled full-box">
                        <li>
                            <a href="/productos"><i class="zmdi zmdi-book zmdi-hc-fw "></i> Productos</a>
                        </li>
                        <li>
                            <a href="/categorias"><i class="zmdi zmdi-card zmdi-hc-fw"></i> Categorias</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/clientes" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-account zmdi-hc-fw"></i> Clientes
                    </a>
                </li>
                <li>
                    <a href="/rutas" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-trending-up zmdi-hc-fw"></i> Rutas
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- Content page-->
    <section class="full-box dashboard-contentPage">
        <!-- NavBar -->
        <nav class="full-box dashboard-Navbar">
            <ul class="full-box list-unstyled text-right">
                <li class="pull-left">
                    <a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
                </li>
                <li>
                    <a href="#!" class="btn-Notifications-area">
                        <i class="zmdi zmdi-notifications-none"></i>
                        <span class="badge">7</span>
                    </a>
                </li>
                <li>
                    <a href="#!" class="btn-search">
                        <i class="zmdi zmdi-search"></i>
                    </a>
                </li>
                <li>
                    <a href="#!" class="btn-modal-help">
                        <i class="zmdi zmdi-help-outline"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Content page -->
        <div class="container-fluid">
            <div class="page-header">
                <h1 class="text-titles"><i class="zmdi zmdi-trending-up zmdi-hc-fw"></i> Rutas<small> Registro</small>
                </h1>
            </div>
            <p class="lead"></p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                        <li class="active"><a href="#new" data-toggle="tab">Nuevo</a></li>
                        <li><a href="#list" data-toggle="tab">Lista</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="new">
                            <div class="container-fluid">
                                <!-- BUSCAR-->
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-8 col-xs-offset-2">
                                            <div class="input-group">
                                                <div class="input-group-btn search-panel">
                                                    <button type="button" class="btn btn-default dropdown-toggle"
                                                        data-toggle="dropdown">
                                                        <span id="search_concept">Buscar por</span> <span
                                                            class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li onclick="verificarBotonFecha();"><a
                                                                href="#contains">Ciudad</a></li>
                                                        <li onclick="verificarBotonCiudad();"><a
                                                                href="#its_equal">Fecha</a></li>
                                                    </ul>
                                                </div>
                                                <input type="date" class="form-control" name="x" placeholder="Buscar..."
                                                    id="buscarPorFecha">
                                                <div class="form-group">
                                                    <input type="text" class="form-control " name="x"
                                                        placeholder="Buscar..." id="buscarPorCiudad">
                                                </div>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><span
                                                            class="glyphicon glyphicon-search"></span></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- MAPA -->
                                <form action="action">
                                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                                        <div id="map" style="width:65vw; height:40vw;"></div>
                                    </div>
                                    <!-- boton ruta -->
                                    <p class="text-center">
                                        <a class="btn btn-success btn-raised btn-sm btn_ruta"><i
                                                class="zmdi zmdi-trending-up"></i> Trazar Ruta</a>
                                    </p>
                                    <!-- boton cronograma -->
                                    <p class="text-center">
                                        <a href="/home" class="btn btn-danger btn-raised btn-sm"><i
                                                class="zmdi zmdi-time"></i> Ver Cronograma</a>
                                    </p>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list">
                        <div class="table-responsive">
                            <table class="table table-hover text-center">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Start Date</th>
                                        <th class="text-center">End Date</th>
                                        <th class="text-center">Amount</th>
                                        <th class="text-center">year</th>
                                        <th class="text-center">Update</th>
                                        <th class="text-center">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>First</td>
                                        <td>Active</td>
                                        <td>07/01/2017</td>
                                        <td>06/04/2017</td>
                                        <td>$40</td>
                                        <td>2017</td>
                                        <td><a href="#!" class="btn btn-success btn-raised btn-xs"><i
                                                    class="zmdi zmdi-refresh"></i></a></td>
                                        <td><a href="#!" class="btn btn-danger btn-raised btn-xs"><i
                                                    class="zmdi zmdi-delete"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Second</td>
                                        <td>Active</td>
                                        <td>07/04/2017</td>
                                        <td>06/08/2017</td>
                                        <td>$40</td>
                                        <td>2017</td>
                                        <td><a href="#!" class="btn btn-success btn-raised btn-xs"><i
                                                    class="zmdi zmdi-refresh"></i></a></td>
                                        <td><a href="#!" class="btn btn-danger btn-raised btn-xs"><i
                                                    class="zmdi zmdi-delete"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Third</td>
                                        <td>Active</td>
                                        <td>07/08/2017</td>
                                        <td>06/12/2017</td>
                                        <td>$40</td>
                                        <td>2017</td>
                                        <td><a href="#!" class="btn btn-success btn-raised btn-xs"><i
                                                    class="zmdi zmdi-refresh"></i></a></td>
                                        <td><a href="#!" class="btn btn-danger btn-raised btn-xs"><i
                                                    class="zmdi zmdi-delete"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="pagination pagination-sm">
                                <li class="disabled"><a href="#!">«</a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li><a href="#!">2</a></li>
                                <li><a href="#!">3</a></li>
                                <li><a href="#!">4</a></li>
                                <li><a href="#!">5</a></li>
                                <li><a href="#!">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Notifications area -->
    <section class="full-box Notifications-area">
        <div class="full-box Notifications-bg btn-Notifications-area"></div>
        <div class="full-box Notifications-body">
            <div class="Notifications-body-title text-titles text-center">
                Notifications <i class="zmdi zmdi-close btn-Notifications-area"></i>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="zmdi zmdi-alert-triangle"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">17m</div>
                        <h4 class="list-group-item-heading">Tile with a label</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="zmdi zmdi-alert-octagon"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">15m</div>
                        <h4 class="list-group-item-heading">Tile with a label</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="zmdi zmdi-help"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">10m</div>
                        <h4 class="list-group-item-heading">Tile with a label</h4>
                        <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="zmdi zmdi-info"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">8m</div>
                        <h4 class="list-group-item-heading">Tile with a label</h4>
                        <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Dialog help -->
    <div class="modal fade" tabindex="-1" role="dialog" id="Dialog-Help">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Help</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt beatae esse velit ipsa sunt
                        incidunt aut voluptas, nihil reiciendis maiores eaque hic vitae saepe voluptatibus. Ratione
                        veritatis a unde autem!
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-raised" data-dismiss="modal"><i
                            class="zmdi zmdi-thumb-up"></i> Ok</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            console.log('hola');
            $("#buscarPorFecha").show();
            $("#buscarPorCiudad").hide();
            $('.search-panel .dropdown-menu').find('a').click(function (e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#", "");
                var concept = $(this).text();
                $('.search-panel span#search_concept').text(concept);
                $('.input-group #search_param').val(param);
            });

        });
        console.log("***************")
        function verificarBotonCiudad() {

            $("#buscarPorFecha").show();
            $("#buscarPorCiudad").hide();
            console.log("***************")
        };

        function verificarBotonFecha() {
            $("#buscarPorCiudad").show();
            $("#buscarPorFecha").hide();
        };

    </script>
    <script>
        $.material.init();
    </script>

</body>

</html>